@model Common.Models.Event.EventVm
@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<div class="row justify-content-center m-3">
    <div class="card" style="width: 25rem;">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            @if (Model.Photo is not null)
            {
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 imgThumbnail" style="height:250px;width:auto"
                             src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)"
                             
                             alt="First slide" asp-append-version="true">
                    </div>
                </div>
            }

        </div>

        <div class="card-header text-capitalize text-center">
            <h4>@Model.Title</h4>
            <h6>Id : @Model.Id</h6>
            <h6>Starts at : @Model.Starts </h6>
            <h6>Ends at : @Model.Ends</h6>

            @if (@Model.IsApproved)
            {
                <a asp-controller="Events" asp-action="Edit" asp-route-id="@Model.Id"  class="btn btn-primary">Edit</a>
            }

            <br>
           <a asp-controller="Events" asp-action="Index" class="btn btn-primary">Back</a>

        </div>
        <div class="card-body">
            <p>@Model.Description</p>
        </div>
    </div>

</div>