@model Common.Models.UserList.UserListVm

@{
    ViewData["Title"] = "User List";
}

<!DOCTYPE html>
<a asp-controller="Users" asp-action="CreateUser">Add New User</a>
@if (Model.Users.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-12">

                <table class="table table-image">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">Id</th>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr class="text-center">
                            <td>
                                @user.Id

                            </td>
                            <td>
                                @user.Email
                            </td>
                            <td>
                                @user.Name @user.LastName
                            </td>
                            <td>
                                <a asp-controller="Users" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                            </td>
                            <td>
                                <a asp-controller="Users" asp-action="DeleteUser" asp-route-email="@user.Email" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <br/>
}
else
{
    <div class=" mt-1 mb-1">

        <hr/>
        <h5 class="text-center">
            Nothing to Show at the moment
        </h5>
    </div>
}